<!doctype HTML>
<html>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Search Result for {{ q }}</title>
	</head>
	<body>
		<h1>English-Japanese Dictionary</h1>
		<h2>Search Result for {{ q }}</h2>
		<form action="/search" method="GET">
			<input type="text" name="q" value="{{ q }}">
			<input type="submit" value="Search">
		</form>
		{% for article, body in result %}
		<h3>{{ article.heading }}</h3>
		<div>
		<img src="/images/{{ article.image }}">
		<a href="/debug?spread={{ article.spread_idx }}&tag=column">debug</a>
		</div>
		<div>{{ body.body }}</div>
		{% endfor %}
	</body>
</html>
